.wrapper {
  background-image: url("/Primer.jpg");
  background-position: center;
  background-size: cover;
  width: 400px;
  height: 250px;
  border: 2px solid #fff;
  border-radius: 20px;
  overflow: hidden;
  padding: 10px;
  line-height: 1.8;
  padding-top: 30px;
  transition: transform 150ms ease-in;
  position: relative;
}

.wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  backdrop-filter: blur(0);
  transition: background 150ms ease-in, backdrop-filter 150ms ease-in;
  z-index: 10;
}

.wrapper:hover::before {
  background: linear-gradient(
    to right,
    rgba(97, 95, 95, 0.1),
    rgba(0, 0, 0, 0)
  );
  backdrop-filter: blur(5px);
}

.wrapper:hover {
  transform: scale(1.1);
}

.repo {
  position: absolute;
  bottom: 10px;
  right: 0;
  left: 0;
  margin: 0 auto;
  width: 380px;
  height: 100%;
  display: none;
  flex-direction: column;
  justify-content: flex-end;
  transition: opacity 150ms ease-in;
  z-index: 20;
  opacity: 0;
}

.wrapper:hover .repo {
  display: flex;
  opacity: 1;
}

.repo span {
  color: #f87171;
  font-weight: bold;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
}

.desc {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.desc span {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.stars {
  display: flex;
  align-items: center;
}

.stars span {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 5px;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f87171;
  padding: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: all 150ms ease-in;
  -webkit-transition: all 150ms ease-in;
  -moz-transition: all 150ms ease-in;
  -ms-transition: all 150ms ease-in;
  -o-transition: all 150ms ease-in;
}

.link:hover {
  background-color: #dc2626;
}
